/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QUERTY 0
#define SHRDCLMK 1
#define NAVNUM 2
#define FKEYS 3
#define GAMING 4

/ {
	keymap {
		compatible = "zmk,keymap";

		querty_layer {
// QWERTY Layer
//
// ,-------------------------------------------.                              ,-------------------------------------------.
// |FKys/ESC|   Q  |   W  |   E  |   R  |   T  |                              |   Y  |   U  |   I  |   O  |   P  |  Del   |
// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
// |  TAB   |   A  |   S  |  D   |   F  |   G  |                              |   H  |   J  |   K  |   L  | ;  : |  ' "   |
// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
// |  LCtrl |   Z  |   X  |   C  |   V  |   B  |      |      |  |      |      |   N  |   M  | ,  < | . >  |  ?   |  - _   |
// `----------------------+------+------+------|Space |Backsp|  |Enter |Space |------+------+------+----------------------'
//                        | Tog 2| MO(2)|LShift|      |      |  |      |      |RShift| MO(2)|R GUI |
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        `----------------------------------'  `----------------------------------'
			bindings = <
	&lt 3 ESC	&kp Q	&kp W		&kp E		&kp R				&kp T                                           			&kp Y		&kp U				&kp I		&kp O		&kp P		&kp DEL
	&kp TAB					&kp A	&kp S		&kp D		&kp F				&kp G                                           			&kp H		&kp J				&kp K		&kp L		&kp SEMI	&kp SQT
	&kp LCTRL				&kp Z	&kp X		&kp C		&kp V				&kp B 		&none		&none		&none		&none		&kp N		&kp M				&kp COMMA	&kp DOT		&kp QMARK	&kp MINUS
												&tog SHRDCLMK	&mo NAVNUM	&kp LSHFT	&kp SPACE	&kp BSPC	&kp RET		&kp SPACE	&kp RSHFT	&mo NAVNUM	&kp RGUI
			>;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
		};

				shrdclmk_layer {
// SHRDCLMK Layer: "Shredded" Colemak (Colemak DH with "S" & "R" swapped to better match QWERTY)
//
// ,-------------------------------------------.                              ,-------------------------------------------.
// |FKys/ESC|   Q  |   W  |   F  |   P  |   B  |                              |   J  |   L  |   U  |   Y  | ;  : |  Del   |
// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
// |  TAB   |   A  |   S  |   R  |   T  |   G  |                              |   M  |   N  |   E  |   I  |  O   |  ' "   |
// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
// |  LCtrl |   Z  |   X  |   C  |   D  |   V  |      |      |  |      |      |   K  |   H  | ,  < | . >  |  ?   |  - _   |
// `----------------------+------+------+------|Space |Backsp|  |Enter |Space |------+------+------+----------------------'
//                        | Tog 2| MO(2)|LShift|      |      |  |      |      |RShift| MO(2)|R GUI |
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        `----------------------------------'  `----------------------------------'
			bindings = <
	&lt 3 ESC	&kp Q	&kp W		&kp F		&kp P	&kp B                                           			&kp J		&kp L	&kp U		&kp Y		&kp SEMI	&kp DEL
	&kp TAB		&kp A	&kp S		&kp R		&kp T	&kp G                                           			&kp M		&kp N	&kp E		&kp I		&kp O		&kp SQT
	&kp LCTRL	&kp Z	&kp X		&kp C		&kp D	&kp V 		&none		&none		&none		&none		&kp K		&kp H	&kp COMMA	&kp DOT		&kp QMARK	&kp MINUS
									&tog SHRDCLMK	&mo NAVNUM	&kp LSHFT	&kp SPACE	&kp BSPC	&kp RET		&kp SPACE	&kp RSHFT	&mo NAVNUM	&kp RGUI
			>;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
		};
		
				navnum_layer {
// NAVNUM Layer: Symbols & Navigation
//
// ,-------------------------------------------.                              ,-------------------------------------------.
// |   `~   |  !   |  @   |  Up  | PgUp |  /?  |                              |   \  |  7   |  8   |  9   |  *   |  Del   |
// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
// |    $   |  &   | Left | Down | Right|  (   |                              |   )  |  4   |  5   |  6   |  +   |   #    |
// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
// |  LCtrl |  %   |  ^   |  |\  | PgDn |  [{  |      |      |  |      |      |  ]}  |  1   |  2   |  3   |  =   |  - _   |
// `----------------------+------+------+------|  Tab | LAlt |  | RCtrl| Zero |------+------+------+----------------------'
//                        | LAlt | MO(2)|LShift|      |      |  |      |      |RShift| MO(2)|R GUI |
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        `----------------------------------'  `----------------------------------'
			bindings = <
	&kp GRAVE	&kp EXCL	&kp AT		&kp UP		&kp PG_UP	&kp FSLH                                                		&kp BSLH	&kp N7  	&kp N8     	&kp N9  &kp STAR   	&kp BSLH
	&kp DLLR	&kp AMPS	&kp LEFT	&kp DOWN	&kp RIGHT	&kp LPAR                                                		&kp RPAR	&kp N4 		&kp N5    	&kp N6	&kp PLUS	&kp HASH
	&kp LCTRL	&kp PRCNT	&kp CARET	&kp PIPE	&kp PG_DN	&kp LBKT	&none		&none			&none		&none		&kp RBKT	&kp N1		&kp N2		&kp N3	&kp EQUAL	&kp MINUS
										&tog SHRDCLMK	&mo NAVNUM	&kp LSFT	&kp TAB		&kp LALT		&kp RCTRL	&kp N0		&kp RSHFT	&mo NAVNUM	&kp RGUI
			>;

			sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp LC(LEFT) LC(RIGHT)>;
		};
		
				fkeys_layer {
// F-Keys Layer
//
// ,-------------------------------------------.                              ,-------------------------------------------.
// |FKys/ESC|  BT4 |  BT3 |  BT2 |  BT1 |  BT0 |                              |   J  |  F7  |  F8  |  F9  | F10  | Tog GMG|
// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
// |  TAB   |   A  |   S  |   R  |   T  |   G  |                              |   M  |  F4  |  F5  |  F6  | F11  |  ' "   |
// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
// |  LCtrl |   Z  |   X  |   C  |   D  |   V  |      |      |  |      |      |   K  |  F1  |  F2  |  F3  | F12  |  - _   |
// `----------------------+------+------+------|BTNext|BTPrev|  |Enter |Space |------+------+------+----------------------'
//                        |BT Clr| MO(2)|LShift|      |      |  |      |      |RShift| MO(2)|R GUI |
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        `----------------------------------'  `----------------------------------'
			bindings = <
	&lt 3 ESC	&bt BT_SEL 4	&bt BT_SEL 3	&bt BT_SEL 2	&bt BT_SEL 1	&bt BT_SEL 0              			&kp J		&kp F7	&kp F8	&kp F9		&kp F10		&tog GAMING
	&kp TAB		&kp A	&kp S		&kp R		&kp T	&kp G                                           			&kp M		&kp F4	&kp F5	&kp F6		&kp F11		&kp SQT
	&kp LCTRL	&kp Z	&kp X		&kp C		&kp D	&kp V 		&none		&none		&none		&none		&kp K		&kp F1	&kp F2	&kp F3		&kp F12		&kp MINUS
									&bt  BT_CLR	&mo NAVNUM	&kp LSHFT	&bt BT_PRV	&bt BT_NXT	&kp RET		&kp RALT	&kp RSHFT	&mo NAVNUM	&kp RGUI
			>;

			sensor-bindings = <&inc_dec_kp LC(LEFT) LC(RIGHT) &inc_dec_kp PG_UP PG_DN>;
		};

		gaming_layer {
// GAMING Layer
//
// ,-------------------------------------------.                              ,-------------------------------------------.
// |FKys/ESC|   T  |   Q  |   W  |   E  |   R  |                              |   Y  |   U  |   I  |   O  |   P  | Tog GMG|
// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
// |  TAB   |   G  |   A  |   S  |   D  |   F  |                              |   H  |   J  |   K  |   L  | ;  : |  ' "   |
// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
// |  LCtrl |   B  |   Z  |   X  |   C  |   V  |      |      |  |      |      |   N  |   M  | ,  < | . >  |  ?   |  - _   |
// `----------------------+------+------+------|Space |Backsp|  |Enter |Space |------+------+------+----------------------'
//                        | Tog 2| MO(2)|LShift|      |      |  |      |      |RShift| MO(2)|R GUI |
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        `----------------------------------'  `----------------------------------'
			bindings = <
	&lt 3 ESC	&kp Q		&kp W		&kp E		&kp R				&kp T                                           			&kp Y		&kp U		&kp I		&kp O		&kp P		&tog GAMING
	&kp TAB		&kp Q		&kp W		&kp E		&kp R				&kp T                                           			&kp Y		&kp U		&kp I		&kp O		&kp P		&kp LBKT
	&kp LCTRL	&kp A		&kp S		&kp D		&kp F				&kp G 		&none		&none		&none		&none		&kp H		&kp J		&kp K		&kp L		&kp SEMI	&kp SQT
										&tog SHRDCLMK	&mo 2		&kp C		&kp V		&kp BSPC	&kp RET		&kp N		&kp M		&mo 2	&kp RGUI
			>;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
		};

	};
};

// Behavior code to have shift+backspace send delete instead of trigger OS shortcuts
//
// behaviors {
//		bspcdel: bspc_del {
//			compatible = "zmk,behavior-mod-morph";
//			label = "BSPC_DEL";
//			#binding-cells = <0>;
//			bindings = <&kp BSPC>, <&kp DEL>;
//		mods = <(MOD_LSFT)>;
//		};
//	};