/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		querty_layer {
// QWERTY Layer
//
// ,-------------------------------------------.                              ,-------------------------------------------.
// |FKys/ESC|   Q  |   W  |   E  |   R  |   T  |                              |   Y  |   U  |   I  |   O  |   P  |  Del   |
// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
// |  TAB   |   A  |   S  |  D   |   F  |   G  |                              |   H  |   J  |   K  |   L  | ;  : |  ' "   |
// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
// |  LCtrl |   Z  |   X  |   C  |   V  |   B  |      |      |  |      |      |   N  |   M  | ,  < | . >  |  ?   |  - _   |
// `----------------------+------+------+------|Space |Backsp|  |Enter |Space |------+------+------+----------------------'
//                        | LAlt | MO(1)|LShift|      |      |  |      |      |RShift| MO(1)|R GUI |
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        `----------------------------------'  `----------------------------------'
			bindings = <
	&lt 3 ESC	&kp Q	&kp W		&kp E		&kp R				&kp T                                           			&kp Y		&kp U				&kp I		&kp O		&kp P		&kp DEL
	&kp TAB					&kp A	&kp S		&kp D		&kp F				&kp G                                           			&kp H		&kp J				&kp K		&kp L		&kp SEMI	&kp SQT
	&kp LCTRL				&kp Z	&kp X		&kp C		&kp V				&kp B 		&none		&none		&none		&none		&kp N		&kp M				&kp COMMA	&kp DOT		&kp QMARK	&kp MINUS
												&tg 2		&mo 1	&kp LSHFT	&kp SPACE	&kp BSPC	&kp RET		&kp SPACE	&kp RSHFT	&mo 1	&kp RGUI
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
				navnum_layer {
// NAVNUM Layer: Symbols & Navigation
//
// ,-------------------------------------------.                              ,-------------------------------------------.
// |   `~   |  !   |  @   |  Up  | PgUp |  /?  |                              |   \  |  7   |  8   |  9   |  *   |  Del   |
// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
// |    $   |  &   | Left | Down | Right|  (   |                              |   )  |  4   |  5   |  6   |  +   |   #    |
// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
// |  LCtrl |  %   |  ^   |  |\  | PgDn |  [{  |      |      |  |      |      |  ]}  |  1   |  2   |  3   |  =   |  - _   |
// `----------------------+------+------+------|  Tab | LAlt |  | RCtrl| Zero |------+------+------+----------------------'
//                        | LAlt | MO(1)|LShift|      |      |  |      |      |RShift| MO(1)|R GUI |
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        `----------------------------------'  `----------------------------------'
			bindings = <
	&kp GRAVE	&kp EXCL	&kp AT		&kp UP		&kp PG_UP	&kp FSLH                                                		&kp BSLH	&kp N7  	&kp N8     	&kp N9  &kp STAR   	&kp BSLH
	&kp DLLR	&kp AMPS	&kp LEFT	&kp DOWN	&kp RIGHT	&kp LPAR                                                		&kp RPAR	&kp N4 		&kp N5    	&kp N6	&kp PLUS	&kp HASH
	&kp LCTRL	&kp PRCNT	&kp CARET	&kp PIPE	&kp PG_DN	&kp LBKT	&none		&none			&none		&none		&kp RBKT	&kp N1		&kp N2		&kp N3	&kp EQUAL	&kp MINUS
										&tg 2		&mo 1		&kp LSFT	&kp TAB		&kp LALT		&kp RCTRL	&kp N0		&kp RSHFT	&mo 1		&kp RGUI
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
				shrdclmk_layer {
// SHRDCLMK Layer: "Shredded" Colemak (Colemak DH with "S" & "R" swapped to better match QWERTY)
//
// ,-------------------------------------------.                              ,-------------------------------------------.
// |FKys/ESC|   Q  |   W  |   F  |   P  |   B  |                              |   J  |   L  |   U  |   Y  | ;  : |  Del   |
// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
// |  TAB   |   A  |   S  |   R  |   T  |   G  |                              |   M  |   N  |   E  |   I  |  O   |  ' "   |
// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
// |  LCtrl |   Z  |   X  |   C  |   D  |   V  |      |      |  |      |      |   K  |   H  | ,  < | . >  |  ?   |  - _   |
// `----------------------+------+------+------|Space |Backsp|  |Enter |Space |------+------+------+----------------------'
//                        | LAlt | MO(1)|LShift|      |      |  |      |      |RShift| MO(1)|R GUI |
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        `----------------------------------'  `----------------------------------'
			bindings = <
	&kp ESC	&kp Q	&kp W		&kp F		&kp P	&kp B                                           			&kp J		&kp L	&kp U		&kp Y		&kp SEMI	&kp DEL
	&kp TAB		&kp A	&kp S		&kp R		&kp T	&kp G                                           			&kp M		&kp N	&kp E		&kp I		&kp O		&kp SQT
	&kp LCTRL	&kp Z	&kp X		&kp C		&kp D	&kp V 		&none		&none		&none		&none		&kp K		&kp H	&kp COMMA	&kp DOT		&kp QMARK	&kp MINUS
									&tg 2		&mo 1	&kp LSHFT	&kp SPACE	&kp BSPC	&kp RET		&kp SPACE	&kp RSHFT	&mo 1	&kp RGUI
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
//				fkeys_layer {
// F-Keys Layer:
//
// ,-------------------------------------------.                              ,-------------------------------------------.
// |FKys/ESC|      |      |      |      |      |                              |      |  F7  |  F8  |  F9  | F10  |        |
// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
// |        |      |      |      |      |      |                              |      |  F4  |  F5  |  F6  | F11  |        |
// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
// |        |      |      |      |      |      |      |      |  |      |      |      |  F1  |  F2  |  F3  | F12  |        |
// `----------------------+------+------+------|BTPrev|BTNext|  |      | RAlt |------+------+------+----------------------'
//                        |BT Clr|      |      |      |      |  |      |      |      |      |R GUI |
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        `----------------------------------'  `----------------------------------'
//			bindings = <
//	&kp ESC		&none	&none		&none		&none	&none                                           			&none	&kp F7	&kp F8	&kp F9		&kp F10	&none
//	&none		&none	&none		&none		&none	&none                                           			&none	&kp F4	&kp F5	&kp F6		&kp F11	&none
//	&none		&none	&none		&none		&none	&none 		&none		&none		&none		&none		&none	&kp F1	&kp F2	&kp F3		&kp F12	&none
//									&bt  BT_CLR	&none	&none		&bt BT_PRV	&bt BT_NXT	&&none		&kp RALT	&none	&none	&none
//			>;
//
//			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
//		};
	};
};
